@mixin no-tap-highlight {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

%structure {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include rwd(1320) {
    padding-left: 125px;
    padding-right: 125px;
  }
}
