






{{ title }}
<br>
{{ description }}

<div id="block1">...</div>


<div id="box1" style="background-color: green; color:#fff; padding:10px;">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tellus purus, hendrerit nec porta id, commodo sed sem. Donec scelerisque luctus arcu quis dignissim.</p>
</div>
<p>
  <a href="#" id="ocultar">Ocultar la capa</a> |
  <a href="#" id="mostrar">Mostrar la capa</a>
</p>
