.path-migraine-toolkit {
  .text-description {
    margin-bottom: 54px;

    @include md {
      margin-bottom: 91px;
    }
  }
  .paragraph--type--toolkit {
    background: var(--white);
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    .field--name-field-image {
      background: var(--light);
      padding: 50px 0 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 55px;
      }
    }
    .field--name-field-file {
      background: var(--light);
      padding: 0 20px 95px;
      text-align: center;
      p {
        margin-bottom: 23px;
      }
    }

    @include md {
      padding: 15px 0;
      flex-direction: row;
      column-gap: 15px;
      .field--name-field-image {
        width: 21.875%;
        padding: 0;
        img {
          width: 75px;
        }
      }
      .field--name-field-file {
        text-align: left;
        padding: 40px 0 48px 55px;
        width: calc(78.125% - 70px);
      }
    }
  }
  .field--name-field-toolkit-file {
    display: none;
  }
}
