:root {
  --body-color: #f5f3e9;
  --email-bg: #fef3db;
  --black: #000;
  --white: #fff;
  --dark: #18263b;
  --light: #d7ece0;
  --error-color: red;
  --description-color: #a0a0a2;
  --font-color: #18263b;
  --reference-color: #f5f4ef;
  --blue: #3d678f;
  --grey: #d9d9d9;
  --check: #0075ff;
  --light-grey: rgb(24 38 59 / 64%);
}

// Fonts
$font-primary: "Montserrat", sans-serif;
$font-title: "Barlow Condensed";
$font-menu: "Barlow";

// layout
$grid-row-columns: 12;
$flex-positon-map: (
  "end": flex-end,
  "start": flex-start,
  "center": center
);
