footer {
  padding: 80px 25px 80px 20px;
  margin-top: auto;
  p {
    margin: 0;
  }
  a {
    color: var(--font-color);
  }
  .region-footer-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid rgb(24 38 59 / 40%);
    padding-bottom: 32px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
  }
  .region-footer-bottom {
    padding: 32px 16px 0 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 300;
    a {
      text-decoration: underline;
    }
    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include md {
    padding: 100px 25px 100px 20px;
    .region-footer-top {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 50px;
      align-items: flex-start;
      text-align: left;
    }
    .region-footer-bottom {
      padding: 50px 0 0 0;
      text-align: left;
    }
  }

  @include rwd(1320) {
    padding-left: 125px;
    padding-right: 125px;
  }
}

// footer top right
#block-pfrpsg-footer-top-right {
  .field--name-body {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  @include md {
    width: 50%;
    .field--name-body {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  @include lg {
    width: 40%;
  }
}

// footer logo
#block-pfrpsg-pfizer-logo {
  margin-bottom: 24px;

  @include md {
    margin-bottom: 0;
  }
}

// footer menu link
#block-pfrpsg-footer-link {
  margin-bottom: 80px;
  p {
    margin-bottom: 8px;
    text-align: center;
  }

  @include md {
    margin-bottom: 0;
    p {
      text-align: left;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// footer assess my condition
#block-pfrpsg-assess-my-condition-footer {
  margin-bottom: 54px;
  a {
    @extend %button;

    white-space: nowrap;
  }

  @include lg {
    padding-right: 56px;
    margin-bottom: 0;
  }
}

// footer follow us
#block-pfrpsg-follow-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  justify-content: center;
  p {
    width: 100%;
    margin-bottom: 16px;
  }
  article {
    margin: 0;
  }
  .field--name-field-media-image {
    img {
      height: 18px;
    }
  }

  @include md {
    justify-content: flex-start;
    column-gap: 20px;
  }
}
