// Homepage Banner
#block-pfrpsg-homepage-banner {
  margin-bottom: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    article,
    .field--name-field-media-image {
      width: 100%;
      height: 100%;
    }
  }

  @include rwd(300) {
    .banner-mobile {
      height: 251px;
    }
  }

  @include md {
    margin-bottom: 80px;
    .banner-desktop {
      display: block;
    }
    .banner-mobile {
      display: none;
    }
  }
}
